@import "tailwindcss";

:root {
  --background: #cbd8f5;
  --foreground: #171717;
  --font-heading: var(--font-alumni-sans);
  --font-body: var(--font-merriweather);
}
.navbar {
  background-color: #cbd8f5;
}

h1 {
  font-family: var(--font-alumni-sans), sans-serif;
  font-size: 2.75rem;
  font-weight: 700;
}

h2 {
  font-family: var(--font-alumni-sans), sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
}

h3 {
  font-family: var(--font-alumni-sans), sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
}

h4 {
  font-family: var(--font-alumni-sans), sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

h5 {
  font-family: var(--font-alumni-sans), sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}

a {
  font-family: var(--font-merriweather), sans-serif;
  font-size: 1.1rem;
  color: #eb2525; 
  text-decoration: underline;
  transition: color 0.2s;
}

a:hover {
  color: #d81d1d; 
}

p, .nav {
  font-family: var(--font-merriweather), sans-serif;
  font-size: 1rem;
}

ul, ol, li {
  font-family: var(--font-merriweather), sans-serif;
  font-size: 1em;
}

ol 
{
  list-style-type: decimal;
}

body {
  background: var(--background);
  color: var(--foreground);
  
}
